In [2]:
import os
import sys
import numpy as np
import pandas as pd
import matplotlib as mlp
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
mlp.style.use("seaborn")
import statsmodels
import statsmodels.api as sm

import warnings
warnings.filterwarnings("ignore")

In [9]:
ie_data = pd.read_excel("../data/ie_data.xls", sheet_name="Data", skiprows=7)
ie_data = ie_data[["Date", "CAPE", "Yield", "Real Return", "Real Return.1", "Returns.2"]].copy()
ie_data.rename(columns={"Yield": "Excess_CAPE_Yield", "Real Return": "Real_Returns_Equity", "Real Return.1": "Real_Returns_Bond", "Returns.2": "Excess_Real_Returns_Equity"}, inplace=True)
ie_data = ie_data.dropna()
ie_data.head()

,Date,CAPE,Excess_CAPE_Yield,Real_Returns_Equity,Real_Returns_Bond,Excess_Real_Returns_Equity
120,1881.01,18.473952,-0.010489,0.045353,0.056468,-0.011115
121,1881.02,18.147258,-0.011393,0.046774,0.056199,-0.009425
122,1881.03,18.270119,-0.013123,0.042423,0.054885,-0.012462
123,1881.04,17.950108,-0.007504,0.045971,0.054635,-0.008665
124,1881.05,18.869719,-0.008881,0.041157,0.054786,-0.013628

In [24]:
ie_data = pd.read_excel("../data/ie_data.xls", sheet_name="Data", skiprows=7)
ie_data.drop(ie_data.tail(1).index, inplace=True) 
ie_data.head()

,Date,P,D,E,CPI,Fraction,Rate GS10,Price,Dividend,Price.1,...,CAPE,Unnamed: 13,TR CAPE,Unnamed: 15,Yield,Returns,Returns.1,Real Return,Real Return.1,Returns.2
0,1871.01,4.44,0.26,0.4,12.4641,1871.041667,5.32,97.250271,5.694836,97.250271,...,NaN,NaN,NaN,NaN,NaN,1.004177,1.000000,0.130609,0.092504,0.038106
1,1871.02,4.5,0.26,0.4,12.8446,1871.125000,5.32333,95.644049,5.526101,96.104557,...,NaN,NaN,NaN,NaN,NaN,1.004180,0.974424,0.130858,0.094635,0.036224
2,1871.03,4.61,0.26,0.4,13.035,1871.208333,5.32667,96.551327,5.445411,97.472173,...,NaN,NaN,NaN,NaN,NaN,1.004183,0.964209,0.130951,0.096186,0.034765
3,1871.04,4.74,0.26,0.4,12.5592,1871.291667,5.33,103.034548,5.651684,104.492692,...,NaN,NaN,NaN,NaN,NaN,1.004185,1.004919,0.122056,0.090972,0.031084
4,1871.05,4.86,0.26,0.4,12.2738,1871.375000,5.33333,108.099637,5.783108,110.118209,...,NaN,NaN,NaN,NaN,NaN,1.004188,1.032591,0.122638,0.089488,0.033150

In [27]:
ie_data["Real Return"].min()

-0.059238835834665604

In [ ]:
x = 1/(np.array(ie_data[(ie_data["Date"]<=2006)]["CAPE"]).astype(float))
x = sm.add_constant(x)
y = np.array(ie_data[(ie_data["Date"]<=2006)]["Real_Returns_Equity"]).astype(float)

model = sm.OLS(y, x, missing="drop")
summary = model.fit()
summary.summary()

In [ ]:
def cape_regression(cape_values, time_period, data=ie_data):
    x = np.array(cape_values)
    x = sm.add_constant(x)
    model = sm.OLS(np.array(data["Real_Total_Return_Price"]), x, missing="drop")
    summary = model.fit()

## Taxes

In [ ]:
ie_data = pd.read_csv("../data/ie_data_tax.csv", index_col=False)
ie_data = ie_data[ie_data["Date"]<2011.09]
print(ie_data.columns)
ie_data.head()

In [ ]:
preprocess = lambda x: float(x.replace(" ", "").replace(",", "")) if not isinstance(x, float) else x
ie_data["CAPE"] = ie_data["CAPE"].apply(preprocess)
ie_data["Real_Total_Return_Price"] = ie_data["Real_Total_Return_Price"].apply(preprocess)

## Interest Rates

In [16]:
ie_data.head()

,Date,P,D,E,CPI,Fraction,Rate GS10,Price,Dividend,Price.1,...,CAPE,Unnamed: 13,TR CAPE,Unnamed: 15,Yield,Returns,Returns.1,Real Return,Real Return.1,Returns.2
0,1871.01,4.44,0.26,0.4,12.4641,1871.041667,5.32,97.250271,5.694836,97.250271,...,NaN,NaN,NaN,NaN,NaN,1.004177,1.000000,0.130609,0.092504,0.038106
1,1871.02,4.5,0.26,0.4,12.8446,1871.125000,5.32333,95.644049,5.526101,96.104557,...,NaN,NaN,NaN,NaN,NaN,1.004180,0.974424,0.130858,0.094635,0.036224
2,1871.03,4.61,0.26,0.4,13.035,1871.208333,5.32667,96.551327,5.445411,97.472173,...,NaN,NaN,NaN,NaN,NaN,1.004183,0.964209,0.130951,0.096186,0.034765
3,1871.04,4.74,0.26,0.4,12.5592,1871.291667,5.33,103.034548,5.651684,104.492692,...,NaN,NaN,NaN,NaN,NaN,1.004185,1.004919,0.122056,0.090972,0.031084
4,1871.05,4.86,0.26,0.4,12.2738,1871.375000,5.33333,108.099637,5.783108,110.118209,...,NaN,NaN,NaN,NaN,NaN,1.004188,1.032591,0.122638,0.089488,0.033150

In [18]:
# Calculate 2 and 5 Years Annualized Expected Real Equity Return
n, p = ie_data.shape
return_2 = []
return_5 = []
for i, row in ie_data.iterrows():

    if i+24 < n:
        return_2.append((ie_data.loc[i+24, "Price.1"]/ie_data.loc[i, "Price.1"])**(1/2)-1)
    else:
        return_2.append(np.nan)
    
    if i+60 < n:
        return_5.append((ie_data.loc[i+60, "Price.1"]/ie_data.loc[i, "Price.1"])**(1/5)-1)
    else:
        return_5.append(np.nan)

ie_data["Real_Return_2"] = return_2
ie_data["Real_Return_5"] = return_5

# Calculate 2 and 5 Years Annualized Real Yield of Long-term Bond
yield_2 = []
yield_5 = []
for i, row in ie_data.iterrows():

    if i-24 >= 0:
        yield_2.append(ie_data.loc[i, "Rate GS10"]/100-((ie_data.loc[i, "CPI"]/ie_data.loc[i-24, "CPI"])**(1/2)-1))
    else:
        yield_2.append(np.nan)
    
    if i-60 >= 0:
        yield_5.append(ie_data.loc[i, "Rate GS10"]/100-((ie_data.loc[i, "CPI"]/ie_data.loc[i-60, "CPI"])**(1/5)-1))
    else:
        yield_5.append(np.nan)

ie_data["Real_Yield_2"] = yield_2
ie_data["Real_Yield_5"] = yield_5

In [20]:
# Select varialbles of interest and sample period
df = ie_data[["Date", "Rate GS10", "CAPE", "Yield", "Real Return", "Real Return.1", 
              "Returns.2", "Real_Return_2", "Real_Return_5", "Real_Yield_2", 
              "Real_Yield_5"]].copy()
df.rename(columns={"Rate GS10": "10Y_Nominal_Yield", "Yield": "Excess_CAPE_Yield", "Real Return": "Real_Returns_Equity_10Y", 
                   "Real Return.1": "Real_Returns_Bond_10Y", "Returns.2": "Excess_Real_Returns_Equity_10Y", 
                   "Real_Return_2": "Real_Returns_Equity_2Y", "Real_Return_5": "Real_Returns_Equity_5Y", 
                   "Real_Yield_2": "Real_Yield_2Y", "Real_Yield_5": "Real_Yield_5Y"}, inplace=True)
# Drop NAs, sample period: 1881.01-2011.08
df_clean = df.dropna()
df_clean.head()

,Date,10Y_Nominal_Yield,CAPE,Excess_CAPE_Yield,Real_Returns_Equity_10Y,Real_Returns_Bond_10Y,Excess_Real_Returns_Equity_10Y,Real_Returns_Equity_2Y,Real_Returns_Equity_5Y,Real_Yield_2Y,Real_Yield_5Y
120,1881.01,3.7,18.473952,-0.010489,0.045353,0.056468,-0.011115,-0.010091,0.056730,-0.029738,0.064821
121,1881.02,3.69333,18.147258,-0.011393,0.046774,0.056199,-0.009425,-0.018835,0.063602,-0.029070,0.062798
122,1881.03,3.68667,18.270119,-0.013123,0.042423,0.054885,-0.012462,-0.013208,0.059318,-0.035246,0.062731
123,1881.04,3.68,17.950108,-0.007504,0.045971,0.054635,-0.008665,0.008850,0.061809,-0.046904,0.059005
124,1881.05,3.67333,18.869719,-0.008881,0.041157,0.054786,-0.013628,-0.021196,0.051492,-0.041596,0.053821

In [21]:
df["Log_CAPE"] = np.log(df["CAPE"])
df["CAPE_Inverse"] = 1/df["CAPE"]
df["Real_Yield_10Y"] = df.CAPE_Inverse - df.Excess_CAPE_Yield
# Descriptive statistics
df.describe()

,Date,CAPE,Excess_CAPE_Yield,Real_Returns_Equity_10Y,Real_Returns_Bond_10Y,Excess_Real_Returns_Equity_10Y,Real_Returns_Equity_2Y,Real_Returns_Equity_5Y,Real_Yield_2Y,Real_Yield_5Y,Log_CAPE,CAPE_Inverse,Real_Yield_10Y
count,1809.000000,1689.000000,1689.000000,1688.000000,1688.000000,1688.000000,1785.000000,1749.000000,1785.000000,1749.000000,1689.000000,1689.000000,1689.000000
mean,1945.940547,17.205097,0.046787,0.068713,0.025676,0.043037,0.077416,0.071505,0.023236,0.023088,2.763301,0.068786,0.021999
std,43.529812,7.038601,0.044269,0.051265,0.035520,0.048857,0.131341,0.078810,0.045758,0.032992,0.410662,0.030577,0.024770
min,1871.010000,4.784241,-0.025777,-0.059239,-0.054197,-0.099817,-0.436454,-0.132330,-0.147592,-0.106352,1.565327,0.022625,-0.036078
25%,1908.090000,11.895760,0.015711,0.037107,-0.001465,0.012844,0.001933,0.019214,0.004824,0.007119,2.476182,0.047817,0.006579
50%,1946.050000,16.378480,0.034904,0.068403,0.022427,0.036029,0.074828,0.072200,0.023176,0.022571,2.795968,0.061056,0.023181
75%,1984.010000,20.913092,0.066782,0.105631,0.056468,0.065182,0.160573,0.121356,0.040884,0.039101,3.040375,0.084064,0.038826
max,2021.090000,44.197940,0.235340,0.199585,0.109818,0.195984,0.542323,0.333465,0.172417,0.122252,3.788678,0.209020,0.076360

Regression given by Shiller(1996):
$$
Real Returns Equity_{t+k}=\alpha+\beta_k \log{CAPE_{t}}+\varepsilon_{t+k,k}
$$
The intuition behind the regression is that under low-interest rate regimes, CAPE is unusually high. Currently SP500 CAPE sits at 39.6, 2nd highest of all time. A high CAPE ratio suggests that equities are overvalued, resulting in low subsequent returns while a low CAPE is suggestive of higher future returns.

In [22]:
# Regression of different sample period

split = 2007.01

reg_data = df[df.Date < split][["Log_CAPE", "Real_Returns_Equity_10Y"]].dropna()
reg1_before = sm.OLS(reg_data.Real_Returns_Equity_10Y, sm.add_constant(reg_data[["Log_CAPE"]]))
result1_before = reg1_before.fit()

reg_data = df[df.Date >= split][["Log_CAPE", "Real_Returns_Equity_10Y"]].dropna()
reg1_after = sm.OLS(reg_data.Real_Returns_Equity_10Y, sm.add_constant(reg_data[["Log_CAPE"]]))
result1_after = reg1_after.fit()

# Entire period
reg_data = df[["Log_CAPE", "Real_Returns_Equity_10Y"]].dropna()
reg1_all = sm.OLS(reg_data.Real_Returns_Equity_10Y, sm.add_constant(reg_data[["Log_CAPE"]]))
result1_all = reg1_all.fit()

print(result1_after.summary())

                               OLS Regression Results
===================================================================================
Dep. Variable:     Real_Returns_Equity_10Y   R-squared:                       0.622
Model:                                 OLS   Adj. R-squared:                  0.615
Method:                      Least Squares   F-statistic:                     88.74
Date:                     Wed, 01 Dec 2021   Prob (F-statistic):           5.43e-13
Time:                             22:11:20   Log-Likelihood:                 148.66
No. Observations:                       56   AIC:                            -293.3
Df Residuals:                           54   BIC:                            -289.3
Df Model:                                1
Covariance Type:                 nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.4565      0.038     12.034      0.000       0.380       0.533
Log_CAPE      -0.1169      0.012     -9.420      0.000      -0.142      -0.092
==============================================================================
Omnibus:                        7.599   Durbin-Watson:                   0.065
Prob(Omnibus):                  0.022   Jarque-Bera (JB):                7.285
Skew:                           0.820   Prob(JB):                       0.0262
Kurtosis:                       2.342   Cond. No.                         55.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Accounting

## Market Composition